@font-face {
  src: url("../lib/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat"; }
@font-face {
  src: url("../lib/fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat Bold"; }
@font-face {
  src: url("../lib/fonts/OpenSans.ttf");
  font-family: "Open Sans"; }
@font-face {
  src: url("../lib/fonts/OpenSans-Bold.ttf");
  font-family: "Open Sans Bold"; }
@font-face {
  src: url("../lib/fonts/Raleway-Black.ttf");
  font-family: "Raleway Black"; }
@font-face {
  src: url("../lib/fonts/Raleway-Bold.ttf");
  font-family: "Raleway Bold"; }
@font-face {
  src: url("../lib/fonts/Raleway-ExtraLight.ttf");
  font-family: "Raleway Extralight"; }
@font-face {
  src: url("../lib/fonts/Raleway-Light.ttf");
  font-family: "Raleway Light"; }
@font-face {
  src: url("../lib/fonts/Raleway-Medium.ttf");
  font-family: "Raleway Medium"; }
@font-face {
  src: url("../lib/fonts/Raleway-Regular.ttf");
  font-family: "Raleway Regular"; }
@font-face {
  src: url("../lib/fonts/Segoe Ui.ttf");
  font-family: "Segoe UI"; }
@font-face {
  src: url("../lib/fonts/Zefani.otf");
  font-family: "Zefani"; }
.poppins {
  font-family: "Poppins", sans-serif; }

.zefani {
  font-family: "Zefani", sans-serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.montserratBold {
  font-family: "Montserrat Bold", sans-serif; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.fullWidth {
  width: 100%; }
  .fullWidth.scrollX {
    overflow-x: scroll; }
  .fullWidth.invisible {
    display: none; }
    .fullWidth.invisible * {
      display: none; }
  .fullWidth.scrollY {
    overflow-y: scroll; }

.fullHeight {
  height: 100vh; }

.fullScreen, .ericModal {
  height: 100vh;
  width: 100%; }

.noPadding {
  padding: 0; }

.noPaddingVertical {
  padding-top: 0;
  padding-bottom: 0; }

.noPaddingHorizontal {
  padding-left: 0;
  padding-right: 0; }

.noMargin {
  margin: 0; }

.noMarginBottom {
  margin-bottom: 0; }

.noMarginVertical {
  margin-top: 0;
  margin-bottom: 0; }

.noMarginHorizontal {
  margin-left: 0;
  margin-right: 0; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.clearFloat {
  clear: both; }

.upperCase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

a.underline {
  text-decoration: underline; }
  a.underline:hover {
    text-decoration: underline; }
a.hoverUnderline {
  text-decoration: none; }
  a.hoverUnderline:hover {
    text-decoration: underline; }
a.noUnderline, a.eButton {
  text-decoration: none; }
  a.noUnderline:hover, a.eButton:hover {
    text-decoration: none; }

.fullScreen, .ericModal {
  width: 100%;
  height: 100vh; }

ul {
  margin: 0;
  padding: 0; }

.marginTop {
  margin-top: 10px; }
  .marginTop.L {
    margin-top: 30px; }
  .marginTop.XL {
    margin-top: 50px; }
  .marginTop.XXL {
    margin-top: 100px; }
  .marginTop.HUMONGOUS {
    margin-top: 150px; }

p {
  line-height: 170%;
  font-size: 15px; }

.whiteForeground {
  color: white; }
  .whiteForeground * {
    color: white; }

.ghostButton {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px 30px;
  border-radius: 900px;
  font-size: 15px; }

.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

@font-face {
  src: url("../lib/fonts/OpenSans.ttf");
  font-family: "Open Sans"; }
@font-face {
  src: url("../lib/fonts/OpenSans-Bold.ttf");
  font-family: "Open Sans Bold"; }
@font-face {
  src: url("../lib/fonts/SegoeUIL.ttf");
  font-family: "Segoe UI Light"; }
@font-face {
  src: url("../lib/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat"; }
@font-face {
  src: url("../lib/fonts/Montserrat-Bold.ttf");
  font-family: "MontSerrat Bold"; }
@font-face {
  src: url("../lib/fonts/Segoe UI.ttf");
  font-family: "Segoe UI"; }
.segoe {
  font-family: "Segoe UI", sans-serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.montserratBold {
  font-family: "MontSerrat Bold", sans-serif; }

.segoeuil {
  font-family: "Segoe UI Light", "Open Sans", sans-serif; }

.openSans {
  font-family: "Open Sans", "Segoe UI Light", sans-serif; }

.openSansBold {
  font-family: "Open Sans Bold", sans-serif; }

.eButton {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 7px;
  color: white; }
  .eButton.blue {
    background-color: #003366; }
  .eButton:hover {
    color: white; }
  .eButton:visited {
    color: white; }
  .eButton.flat {
    border-radius: 0; }

.eDataTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  background-color: white;
  border-radius: 9px; }
  .eDataTable.invisible {
    display: none; }
    .eDataTable.invisible * {
      display: none; }
  .eDataTable.wideTable {
    width: 2500px; }
  .eDataTable.scrollDown {
    min-height: 200px;
    width: 100%;
    overflow-y: scroll; }
  .eDataTable.zebra tbody tr:nth-of-type(even):not(.changed) {
    background-color: #e8e8e8; }
    .eDataTable.zebra tbody tr:nth-of-type(even):not(.changed):hover {
      background-color: #80CBC4;
      color: white; }
  .eDataTable.zebra tbody tr:hover {
    background-color: #80CBC4;
    color: white;
    cursor: pointer; }
  .eDataTable.borderTop {
    border-top: 5px solid #80CBC4; }
    .eDataTable.borderTop tr {
      border-bottom: 2px solid #e8e8e8; }
    .eDataTable.borderTop tbody tr:hover {
      background-color: #80CBC4; }
      .eDataTable.borderTop tbody tr:hover td:not(:first-of-type) {
        color: white; }
  .eDataTable.borderRight tr {
    border-bottom: 2px solid #e8e8e8; }
    .eDataTable.borderRight tr th:last-of-type, .eDataTable.borderRight tr td:last-of-type {
      border-right: 5px solid #80cbc4; }
    .eDataTable.borderRight tr th:last-of-type {
      border-radius: 0 9px 0 0; }
    .eDataTable.borderRight tr:last-of-type td:last-of-type {
      border-radius: 0 0 9px 0; }
  .eDataTable.borderLeft tr {
    border-bottom: 2px solid #e8e8e8; }
    .eDataTable.borderLeft tr th:first-of-type, .eDataTable.borderLeft tr td:first-of-type {
      border-left: 5px solid #80cbc4; }
    .eDataTable.borderLeft tr th:first-of-type {
      border-radius: 0 9px 0 0; }
    .eDataTable.borderLeft tr:first-of-type td:first-of-type {
      border-radius: 0 0 9px 0; }
  .eDataTable.borderLeft tbody tr:hover {
    background-color: #80CBC4; }
    .eDataTable.borderLeft tbody tr:hover td:not(:first-of-type) {
      color: white; }
  .eDataTable td, .eDataTable th {
    padding: 10px; }
  .eDataTable th {
    padding-top: 20px;
    padding-bottom: 20px; }
  .eDataTable.scroll {
    overflow-y: scroll; }

.tooltip {
  font-family: "Montserrat", "Open Sans", sans-serif; }

.redFont {
  color: #cc0000; }

.ericModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll; }
  .ericModal.invisible {
    display: none; }
  .ericModal.visible {
    display: flex; }
  .ericModal .header {
    border-bottom: 2px solid #d5d5d5; }
  .ericModal .body {
    padding-top: 30px; }

.marginBottom {
  margin-bottom: 30px; }

.generatePin {
  color: white;
  background-color: indianred; }

.viewUnused {
  color: white;
  background-color: #80CBC4; }

.clearFloatAfter::after {
  content: "";
  display: block;
  clear: both; }

.halfWidth {
  width: 80%; }

.profilePicture {
  margin-top: 20px;
  margin-left: 10%; }

.halfScreenVertical {
  width: 100vw;
  height: 50vh; }

.halfScreenHorizontal {
  width: 50vw;
  height: 100vh; }

.threeFourthScreenVertical {
  width: 100%;
  height: 80vh; }

.threeFourthScreenWidth {
  width: 80%; }

.paddingTop {
  margin-top: 30px; }

.blockDisplay {
  display: block !important; }

.tableDisplay {
  display: table; }

.noMarginLeft {
  margin-left: 0 !important; }

.centerSelf {
  margin: 0 auto; }

div.hamburger {
  display: inline-block;
  vertical-align: middle; }
  div.hamburger div {
    width: 25px;
    height: 4px;
    background-color: #E0E0E0;
    margin-bottom: 5px;
    border-radius: 90px; }
  div.hamburger.dark div {
    background-color: #444444; }

.noMarginRow .row {
  margin-left: 0;
  margin-right: 0; }

.largerLineHeight {
  line-height: 220%; }

.percentWidth-1 {
  width: 1%; }

.percentHeight-1 {
  height: 1%; }

.percentWidth-2 {
  width: 2%; }

.percentHeight-2 {
  height: 2%; }

.percentWidth-3 {
  width: 3%; }

.percentHeight-3 {
  height: 3%; }

.percentWidth-4 {
  width: 4%; }

.percentHeight-4 {
  height: 4%; }

.percentWidth-5 {
  width: 5%; }

.percentHeight-5 {
  height: 5%; }

.percentWidth-6 {
  width: 6%; }

.percentHeight-6 {
  height: 6%; }

.percentWidth-7 {
  width: 7%; }

.percentHeight-7 {
  height: 7%; }

.percentWidth-8 {
  width: 8%; }

.percentHeight-8 {
  height: 8%; }

.percentWidth-9 {
  width: 9%; }

.percentHeight-9 {
  height: 9%; }

.percentWidth-10 {
  width: 10%; }

.percentHeight-10 {
  height: 10%; }

.percentWidth-11 {
  width: 11%; }

.percentHeight-11 {
  height: 11%; }

.percentWidth-12 {
  width: 12%; }

.percentHeight-12 {
  height: 12%; }

.percentWidth-13 {
  width: 13%; }

.percentHeight-13 {
  height: 13%; }

.percentWidth-14 {
  width: 14%; }

.percentHeight-14 {
  height: 14%; }

.percentWidth-15 {
  width: 15%; }

.percentHeight-15 {
  height: 15%; }

.percentWidth-16 {
  width: 16%; }

.percentHeight-16 {
  height: 16%; }

.percentWidth-17 {
  width: 17%; }

.percentHeight-17 {
  height: 17%; }

.percentWidth-18 {
  width: 18%; }

.percentHeight-18 {
  height: 18%; }

.percentWidth-19 {
  width: 19%; }

.percentHeight-19 {
  height: 19%; }

.percentWidth-20 {
  width: 20%; }

.percentHeight-20 {
  height: 20%; }

.percentWidth-21 {
  width: 21%; }

.percentHeight-21 {
  height: 21%; }

.percentWidth-22 {
  width: 22%; }

.percentHeight-22 {
  height: 22%; }

.percentWidth-23 {
  width: 23%; }

.percentHeight-23 {
  height: 23%; }

.percentWidth-24 {
  width: 24%; }

.percentHeight-24 {
  height: 24%; }

.percentWidth-25 {
  width: 25%; }

.percentHeight-25 {
  height: 25%; }

.percentWidth-26 {
  width: 26%; }

.percentHeight-26 {
  height: 26%; }

.percentWidth-27 {
  width: 27%; }

.percentHeight-27 {
  height: 27%; }

.percentWidth-28 {
  width: 28%; }

.percentHeight-28 {
  height: 28%; }

.percentWidth-29 {
  width: 29%; }

.percentHeight-29 {
  height: 29%; }

.percentWidth-30 {
  width: 30%; }

.percentHeight-30 {
  height: 30%; }

.percentWidth-31 {
  width: 31%; }

.percentHeight-31 {
  height: 31%; }

.percentWidth-32 {
  width: 32%; }

.percentHeight-32 {
  height: 32%; }

.percentWidth-33 {
  width: 33%; }

.percentHeight-33 {
  height: 33%; }

.percentWidth-34 {
  width: 34%; }

.percentHeight-34 {
  height: 34%; }

.percentWidth-35 {
  width: 35%; }

.percentHeight-35 {
  height: 35%; }

.percentWidth-36 {
  width: 36%; }

.percentHeight-36 {
  height: 36%; }

.percentWidth-37 {
  width: 37%; }

.percentHeight-37 {
  height: 37%; }

.percentWidth-38 {
  width: 38%; }

.percentHeight-38 {
  height: 38%; }

.percentWidth-39 {
  width: 39%; }

.percentHeight-39 {
  height: 39%; }

.percentWidth-40 {
  width: 40%; }

.percentHeight-40 {
  height: 40%; }

.percentWidth-41 {
  width: 41%; }

.percentHeight-41 {
  height: 41%; }

.percentWidth-42 {
  width: 42%; }

.percentHeight-42 {
  height: 42%; }

.percentWidth-43 {
  width: 43%; }

.percentHeight-43 {
  height: 43%; }

.percentWidth-44 {
  width: 44%; }

.percentHeight-44 {
  height: 44%; }

.percentWidth-45 {
  width: 45%; }

.percentHeight-45 {
  height: 45%; }

.percentWidth-46 {
  width: 46%; }

.percentHeight-46 {
  height: 46%; }

.percentWidth-47 {
  width: 47%; }

.percentHeight-47 {
  height: 47%; }

.percentWidth-48 {
  width: 48%; }

.percentHeight-48 {
  height: 48%; }

.percentWidth-49 {
  width: 49%; }

.percentHeight-49 {
  height: 49%; }

.percentWidth-50 {
  width: 50%; }

.percentHeight-50 {
  height: 50%; }

.percentWidth-51 {
  width: 51%; }

.percentHeight-51 {
  height: 51%; }

.percentWidth-52 {
  width: 52%; }

.percentHeight-52 {
  height: 52%; }

.percentWidth-53 {
  width: 53%; }

.percentHeight-53 {
  height: 53%; }

.percentWidth-54 {
  width: 54%; }

.percentHeight-54 {
  height: 54%; }

.percentWidth-55 {
  width: 55%; }

.percentHeight-55 {
  height: 55%; }

.percentWidth-56 {
  width: 56%; }

.percentHeight-56 {
  height: 56%; }

.percentWidth-57 {
  width: 57%; }

.percentHeight-57 {
  height: 57%; }

.percentWidth-58 {
  width: 58%; }

.percentHeight-58 {
  height: 58%; }

.percentWidth-59 {
  width: 59%; }

.percentHeight-59 {
  height: 59%; }

.percentWidth-60 {
  width: 60%; }

.percentHeight-60 {
  height: 60%; }

.percentWidth-61 {
  width: 61%; }

.percentHeight-61 {
  height: 61%; }

.percentWidth-62 {
  width: 62%; }

.percentHeight-62 {
  height: 62%; }

.percentWidth-63 {
  width: 63%; }

.percentHeight-63 {
  height: 63%; }

.percentWidth-64 {
  width: 64%; }

.percentHeight-64 {
  height: 64%; }

.percentWidth-65 {
  width: 65%; }

.percentHeight-65 {
  height: 65%; }

.percentWidth-66 {
  width: 66%; }

.percentHeight-66 {
  height: 66%; }

.percentWidth-67 {
  width: 67%; }

.percentHeight-67 {
  height: 67%; }

.percentWidth-68 {
  width: 68%; }

.percentHeight-68 {
  height: 68%; }

.percentWidth-69 {
  width: 69%; }

.percentHeight-69 {
  height: 69%; }

.percentWidth-70 {
  width: 70%; }

.percentHeight-70 {
  height: 70%; }

.percentWidth-71 {
  width: 71%; }

.percentHeight-71 {
  height: 71%; }

.percentWidth-72 {
  width: 72%; }

.percentHeight-72 {
  height: 72%; }

.percentWidth-73 {
  width: 73%; }

.percentHeight-73 {
  height: 73%; }

.percentWidth-74 {
  width: 74%; }

.percentHeight-74 {
  height: 74%; }

.percentWidth-75 {
  width: 75%; }

.percentHeight-75 {
  height: 75%; }

.percentWidth-76 {
  width: 76%; }

.percentHeight-76 {
  height: 76%; }

.percentWidth-77 {
  width: 77%; }

.percentHeight-77 {
  height: 77%; }

.percentWidth-78 {
  width: 78%; }

.percentHeight-78 {
  height: 78%; }

.percentWidth-79 {
  width: 79%; }

.percentHeight-79 {
  height: 79%; }

.percentWidth-80 {
  width: 80%; }

.percentHeight-80 {
  height: 80%; }

.percentWidth-81 {
  width: 81%; }

.percentHeight-81 {
  height: 81%; }

.percentWidth-82 {
  width: 82%; }

.percentHeight-82 {
  height: 82%; }

.percentWidth-83 {
  width: 83%; }

.percentHeight-83 {
  height: 83%; }

.percentWidth-84 {
  width: 84%; }

.percentHeight-84 {
  height: 84%; }

.percentWidth-85 {
  width: 85%; }

.percentHeight-85 {
  height: 85%; }

.percentWidth-86 {
  width: 86%; }

.percentHeight-86 {
  height: 86%; }

.percentWidth-87 {
  width: 87%; }

.percentHeight-87 {
  height: 87%; }

.percentWidth-88 {
  width: 88%; }

.percentHeight-88 {
  height: 88%; }

.percentWidth-89 {
  width: 89%; }

.percentHeight-89 {
  height: 89%; }

.percentWidth-90 {
  width: 90%; }

.percentHeight-90 {
  height: 90%; }

.percentWidth-91 {
  width: 91%; }

.percentHeight-91 {
  height: 91%; }

.percentWidth-92 {
  width: 92%; }

.percentHeight-92 {
  height: 92%; }

.percentWidth-93 {
  width: 93%; }

.percentHeight-93 {
  height: 93%; }

.percentWidth-94 {
  width: 94%; }

.percentHeight-94 {
  height: 94%; }

.percentWidth-95 {
  width: 95%; }

.percentHeight-95 {
  height: 95%; }

.percentWidth-96 {
  width: 96%; }

.percentHeight-96 {
  height: 96%; }

.percentWidth-97 {
  width: 97%; }

.percentHeight-97 {
  height: 97%; }

.percentWidth-98 {
  width: 98%; }

.percentHeight-98 {
  height: 98%; }

.percentWidth-99 {
  width: 99%; }

.percentHeight-99 {
  height: 99%; }

.percentWidth-100 {
  width: 100%; }

.percentHeight-100 {
  height: 100%; }

.eModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.55);
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .eModal.show, .eModal.view {
    display: flex; }
  .eModal.fadeIn {
    opacity: 1; }
  .eModal .content {
    background-color: white;
    position: relative;
    z-index: 901;
    border-radius: 9px;
    padding: 30px 15px;
    width: 60%;
    max-height: 90vh;
    overflow-y: hidden;
    margin-bottom: 15px; }
    .eModal .content .modalBody {
      width: 100%;
      overflow-y: auto;
      max-height: 70vh;
      padding: 15px 15px 90%; }
    .eModal .content .modalHead {
      padding: 15px 15px;
      width: 100%;
      border-bottom: 1px solid #ddd; }

.clickedDiv {
  cursor: pointer; }

@media only screen and (max-width: 500px) {
  .eModal .content {
    width: 90%; } }
@media only screen and (min-width: 1000px) {
  .eModal .content {
    width: 40%; } }
.authenticationBody {
  background-color: #eeeeee; }

.eCard {
  width: 100%;
  background-color: white;
  border-radius: 9px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  padding: 30px 15px; }

.login {
  width: 50%;
  margin: 0 auto; }

.errorAlert, .successAlert {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0033;
  margin-bottom: 30px;
  border-left: 7px solid #ff9d91;
  color: white; }
  .errorAlert p, .successAlert p {
    margin: 15px 20px; }

.successAlert {
  background-color: #00CE68;
  border-left: 7px solid #a2ffbd; }

.auth.register-bg-1 {
  background-image: url("../lib/adminTemplate/images/auth/login_2.jpg"); }

.used .pinPin {
  text-decoration: line-through; }

/*# sourceMappingURL=admin.css.map */
